html, *, *::after, *::before {
    box-sizing: border-box;
}

body {
    background: black;
    font-size: 24px;
}

/* CUSTOM ELEMENTS */

x-slide section,
x-rolling section {
    flex-grow: 1;
}

a {
    text-decoration: none;
    color: #CCC;
    border-bottom: 5px solid #333;
    padding-bottom: 15px;
}

/* COLORS */

.blue {
    color: red;
    border-color: #72c3fc;
}

.red {
    color: #ff6b6b;
    border-color: #ff6b6b;
}

.grape {
    color: #e599f7;
    border-color: #e599f7;
}

.indigo {
    color: #91a7ff;
    border-color: #91a7ff;
}

.blue {
    color: #228ae6;
    border-color: #228ae6;
}

.green {
    color: #69db7c;
    border-color: #69db7c;
}

.cyan {
    color: #22b8cf;
    border-color: #22b8cf;
}

.teal {
    color: #12b886;
    border-color: #12b886;
}

.yellow {
    color: #fcc419;
    border-color: #fcc419;
}

.lime {
    color: #d8f5a2;
    border-color: #d8f5a2;
}

.pink {
    color: #f783ac;
    border-color: #f783ac;
}

.violet {
    color: #d0bfff;
    border-color: #d0bfff;
}

.gray {
    color: #666;
    border-color: #666;
}

.orange {
    color: #ffa94d;
    border-color: #ffa94d;
}


/* RESETS */

pre {
    margin: 0;
}

code {
    border: 2px solid #666;
    color: #666;
    padding: 0 5px;
    padding-bottom: 3px;
    margin: 0 5px;
    border-radius: 5px;
}

.hljs {
    font-size: .8em;
    border-radius: 5px;
    padding: 5px 20px;
    border: 2px solid #666;
    background: none;
    margin-bottom: 20px;
}

ul {
    padding: 0;
    margin-bottom: 40px;
}

li {
    margin: 0;
    margin-bottom: 20px;
    list-style-type: none;
}


/* TYPOGRAPHY */

p, li {
    letter-spacing: 1px;
}

.upper {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.big {
    font-size: 260%;
}

.large {
    font-size: 350%;
}

.huge {
    font-size: 500%;
}

.normal {
    font-weight: normal;
}

.light {
    font-weight: 100;
}

.center {
    text-align: center;
}

li::before {
    color: #666;
    margin-right: 10px;
}

.check li::before {
    content: '✓';
}

.nope li::before {
    content: '⃠';
}

.gotcha li::before {
    content: 'ಠ_ಠ';
}

.love li::before {
    content: '♥‿♥';
}

.careless li::before {
    content: '◔_◔';
}

/* SUPPORT COMPARISON */

.support {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    font-size: 20px;
}

.browser {
    flex-grow: 1;
    margin-right: 10px;
}

.browser div {
    text-align: center;
    margin-bottom: 10px;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: currentColor;
    padding: 10px;
}

.browser div:first-child {
    border-color: #666;
    color: #FFF;
}
